[Desktop Entry]
Encoding=UTF-8
Name=Xcoin
Comment=Xcoin P2P Cryptocurrency
Comment[fr]=Xcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Xcoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/x-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/x80.xpm
MimeType=x-scheme-handler/x;
Categories=Office;
