#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_x
#build/xd::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_x)

DEB_INSTALL_EXAMPLES_xd += debian/examples/*
DEB_INSTALL_MANPAGES_xd += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix USE_IPV6=1 USE_QRCODE=1 USE_UPNP=0 xd
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f x-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake x-qt.pro USE_QRCODE=1 USE_DBUS=1

override_dh_auto_test:
	#cd src; $(MAKE) -f makefile.unix test_x
	#src/test_x

# Ensure wrapper is set executable
binary-post-install/xd:
	chmod +x $(cdbs_curdestdir)usr/bin/xd
binary-post-install/x-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/x-qt
